// Variables

// Theme font and color variations
$theme-styles: (
	classic: (
		fonts: (
			serif: ('Lora', 'Lucida Bright', 'Lucidabright', 'Lucida Serif', Lucida, Georgia, serif),
			sans-serif: ('Open Sans', Lato, sans-serif)
		),
		colors: (
			blue:  #8287f2,
			green: #34d789,
			red:   #f4757c
		)
	),
	bold: (
		fonts: (
			serif: ('Arvo', 'Rockwell', Georgia, Times, 'Times New Roman', serif),
			sans-serif: ('Poppins', 'Helvetica Neue', Helvetica, 'Roboto', sans-serif)
		),
		colors: (
			blue:  #2859da,
			green: #01be54,
			red:   #ec5033
		)
	),
	minimal: (
		fonts: (
			serif: ('IBM Plex Serif', Georgia, Times, 'Times New Roman', serif),
			sans-serif: ('IBM Plex Sans','Helvetica Neue', Helvetica, 'Roboto', sans-serif)
		),
		colors: (
			blue:   #0084ff,
			green:  #00cc88,
			red:    #ff3366
		)
	)
);

// Monospace font
$font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace !default;


// Colors

// Base
$color-body-text:                   #2c343c !default;
$color-heading:                     #2c343c !default;
$color-meta:                        #8696a6 !default;
$color-body-bg:                     #fff !default;

// Links
$color-link:                        #2c343c !default;

// Highlight
$color-highlight-text:              #2c343c !default;
$color-highlight-bg:                #fff7c5 !default;

// Blockquotes
$color-blockquote:                  #2c343c !default;

// Code blocks
$color-code-text:                   #2c343c !default;
$color-code-border:                 #eceef1 !default;
$color-code-bg:                     #f7f8f9 !default;
$color-bold-code-bg:                #eceef1 !default;

// Tables
$color-table-text:                  #2c343c !default;
$color-table-heading:               #2c343c !default;
$color-table-border:                #eceef1 !default;
$color-table-bg:                    #f7f8f9 !default;
$color-bold-table-bg:               #eceef1 !default;

// HR
$color-hr-border:                   #eceef1 !default;

// Buttons
$color-btn-text:                    #fff !default;
$color-btn-bg:                      #45515e !default;
$color-btn-border:                  #45515e !default;
$color-btn-alt-text:                #fff !default;
$color-btn-alt-bg:                  #2c343c !default;
$color-btn-alt-border:              #2c343c !default;
$color-bold-btn-shadow:             #8696a6 !default;

// Forms
$color-input-text:                  #2c343c !default;
$color-input-bg:                    #f7f8f9 !default;
$color-input-border:                #eceef1 !default;
$color-bold-input-bg:               #eceef1 !default;

// Main nav
$color-nav-link-text:               #2c343c !default;
$color-nav-link-border:             #45515e !default;
$color-nav-mobile-bg:               #fff !default;
$color-nav-mobile-border:           #eceef1 !default;
$color-nav-mobile-overlay:          rgba(236,238,241,.8) !default;

// Announcement
$color-anncmnt-bg:                  #eceef1 !default;

// Header
$color-header-border:               #eceef1 !default;

// Footer
$color-footer-border:               #eceef1 !default;

// Cards
$color-card-text:                   #2c343c !default;
$color-card-bg:                     #fff !default;
$color-card-border:                 #eceef1 !default;
$color-classic-card-shadow:         rgba(236,238,241,.8) !default;
$color-bold-card-border:            #2c343c !default;
$color-bold-card-border-hover:      #8696a6 !default;

// Sections
$color-sect-border:                 #eceef1  !default;
$color-sect-prim-bg:                #45515e !default;
$color-sect-prim-text:              #fff !default;
$color-sect-prim-heading:           #fff !default;
$color-sect-prim-link:              #fff !default;
$color-sect-prim-btn-text:          #2c343c !default;
$color-sect-prim-btn-bg:            #fff !default;
$color-sect-prim-btn-border:        #fff !default;
$color-sect-second-bg:              #eceef1  !default;
$color-sect-prim-second-input-bg:   #fff !default;

$color-bold-sect-border:            #eceef1  !default;
$color-classic-sect-title-line:     #45515e !default;

// Media
$color-media-border:                #eceef1  !default;
$color-bold-media-border:           #2c343c !default;

// Boxed layout
$color-boxed-bg:                    #f7f8f9 !default;
$color-boxed-border:                #eceef1  !default;


// Media breakpoints
$media-breakpoints: (
	xs: 480px,
	sm: 640px,
	md: 800px,
	lg: 960px,
	xl: 1200px
) !default;

// Spacing
$spacer: 1rem !default;
$spacers: (
	0: 0,
	1: ($spacer * .55556),
	2: ($spacer * .83333),
	3: ($spacer * 1.11111),
	4: ($spacer * 1.66667),
	5: ($spacer * 2.22222),
	6: ($spacer * 3.33333),
	7: ($spacer * 5)
) !default;

// Sizing
$sizes: (
	0: 0,
	25: 25%,
	33: 33%,
	50: 50%,
	100: 100%,
	auto: auto
) !default;

// Container max widths
$container-sizes: (
	small: 570px,
	medium: 770px,
	large: 1170px,
	xlarge: 1400px
) !default;

// Grid
$grid-cells: 12 !default;
$grid-gap: 1.66667rem !default;
$grid-gap-small: 1.11111rem !default;
$grid-gap-large: 2.22222rem !default;
