// Variables

// Theme options
$theme-styles: (
	classic: (
		fonts: (
			serif: ('Lora', 'Lucida Bright', 'Lucidabright', 'Lucida Serif', Lucida, Georgia, serif),
			sans-serif: ('Open Sans', Lato, sans-serif)
		),
		colors: (
			blue:  #8287f2,
			green: #34d789,
			red:   #f4757c
		)
	),
	bold: (
		fonts: (
			serif: ('Arvo', 'Rockwell', Georgia, Times, 'Times New Roman', serif),
			sans-serif: ('Poppins', 'Helvetica Neue', Helvetica, 'Roboto', sans-serif)
		),
		colors: (
			blue:  #2859da,
			green: #01be54,
			red:   #ec5033
		)
	),
	minimal: (
		fonts: (
			serif: (Georgia, Times, 'Times New Roman', serif),
			sans-serif: ('Helvetica Neue', Helvetica, 'Roboto', sans-serif)
		),
		colors: (
			blue:   #0084ff,
			green:  #00cc88,
			red:    #ff3366
		)
	)
);

// Fonts
$font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace !default;


// Colors

// Base
$color-text:                       #1c1b1b !default;
$color-text-muted:                 #9d9999 !default;
$color-heading:                    #1c1b1b !default;

$color-bg:                         #fff !default;
$color-bg-light:                   #f9f9f9 !default;
$color-bg-dark:                    #1c1b1b !default;
$color-bg-primary:                 #585555 !default;//primary
$color-bg-secondary:               #eae9e9 !default;

$color-border:                     #eae9e9 !default;
$color-border-dark:                #1c1b1b !default;

// Inline texts
$color-highlight-text:             #1c1b1b !default;
$color-highlight-bg:               #fff7c5 !default;

// Links
$color-link:                       #1c1b1b !default;

// Blockquotes
$color-blockquote-text:            #1c1b1b !default;

// Main nav
$color-nav-link-text:              #1c1b1b !default;
$color-nav-link-border:            #585555 !default;//primary

// Buttons
$color-btn-text:                   #fff !default;
$color-btn-bg:                     #585555 !default;//primary
$color-btn-border:                 #585555 !default;//primary
$color-btn-alt-text:               #585555 !default;//primary
$color-btn-alt-bg:                 transparent !default;
$color-btn-alt-border:             #585555 !default;//primary
$color-btn-shadow:                 #1c1b1b !default;

// Inverse (light text on dark background)
$color-inverse-text:                       #fff !default;
$color-inverse-text-muted:                 #9d9999 !default;
$color-inverse-heading:                    #fff !default;

$color-inverse-bg:                         #1c1b1b !default;
$color-inverse-bg-light:                   #f9f9f9 !default;
$color-inverse-bg-dark:                    #1c1b1b !default;
$color-inverse-bg-secondary:               #eae9e9 !default;

$color-inverse-border:                     #eae9e9 !default;
$color-inverse-border-dark:                #1c1b1b !default;

// Links
$color-inverse-link:                       #fff !default;









// Dark mode
$color-dark-text:              #fff !default;
$color-dark-heading:           #fff !default;
$color-dark-text-muted:        #9d9999 !default;
$color-dark-bg:                #1c1b1b !default;
$color-dark-border:            #292828 !default;
$color-dark-link:              #fff !default;
$color-mark:                   #1c1b1b !default;
$color-mark-bg:                #eae9e9 !default;
$color-dark-layout-boxed-bg:   #171616 !default;

$color-dark-btn-text:                 #1c1b1b !default;
$color-dark-btn-bg:                   #fff !default;
$color-dark-btn-border:               #fff !default;
$color-dark-btn-hover-text:           #fff !default;
$color-dark-btn-hover-bg:             transparent !default;
$color-dark-btn-hover-border:         #fff !default;

$color-dark-btn-clear-text: #fff !default;









// Media breakpoints
$media-breakpoints: (
	xs: 480px,
	sm: 640px,
	md: 800px,
	lg: 960px,
	xl: 1200px
) !default;

// Spacing
$spacer: 1rem !default;
$spacers: (
	0: 0,
	1: ($spacer * .625),
	2: ($spacer * .9375),
	3: ($spacer * 1.25),
	4: ($spacer * 1.875),
	5: ($spacer * 2.5),
	6: ($spacer * 3.75),
	7: ($spacer * 5.625)
) !default;

// Sizing
$sizes: (
	0: 0,
	25: 25%,
	33: 33%,
	50: 50%,
	100: 100%,
	auto: auto
) !default;

// Container max widths
$container-sizes: (
	small: 570px,
	medium: 770px,
	large: 1170px,
	xlarge: 1400px
) !default;

// Grid
$grid-cells: 12 !default;
$grid-gap: 1.875rem !default;
$grid-gap-small: 1.25rem !default;
$grid-gap-large: 2.5rem !default;
