/**
 * Button Styles
 */
.btn {
	align-items: center;
	background-color: $color-btn-bg;
	border: 2px solid $color-btn-border;
	border-radius: 0;
	box-sizing: border-box;
	color: $color-btn-text;
	cursor: pointer;
	display: inline-flex;
	font-size: 1em;
	font-weight: 400;
	justify-content: center;
	line-height: 1.25;
	padding: 0.75em 1.5em;
	text-decoration: none;
	transition: .3s ease;
	white-space: nowrap;

	&:hover,
	&:focus,
	&:active {
		outline: 0;
	}

	.icon + :not(.sr-only) {
		margin-left: 5px;

		&.order-first {
			margin-left: 0;
			margin-right: 5px;
		}
	}

	&:not(.btn--clear),
	&:not(.btn--icon) {
		min-width: 8.125em;
	}
}

.btn--secondary {
	background-color: $color-btn-alt-bg;
	border-color: $color-btn-alt-border;
	color: $color-btn-alt-text;
}

.btn--clear {
	background: 0;
	border: 0;
	border-radius: 0;
	color: inherit;
	padding: 0;
}

.btn--icon {
	font-size: 1.125rem;
	height: 1.875rem;
	padding: 0;
	position: relative;
	width: 1.875rem;
}

.btn-group {
	align-items: center;
	display: flex;
	flex-wrap: wrap;

	a,
	.btn {
		margin: 0 1em 1em 0;
	}

	&.justify-center {
		a,
		.btn {
			margin-left: 0.5em;
			margin-right: 0.5em;
		}
	}

	&.justify-end {
		a,
		.btn {
			margin-left: 1em;
			margin-right: 0;
		}
	}

	&.btn-group--fill {
		max-width: 370px;
		width: 100%;
	}
}




.style-classic {
	.btn {
		border-radius: 1.875em;

		&:hover,
		&:focus,
		&:active {
			opacity: .8;
		}
	}
}

.style-minimal {
	.btn {
		border-radius: 3px;

		&:hover,
		&:focus,
		&:active {
			opacity: .8;
		}
	}
}

.style-bold {//???
	.btn--clear {
		&:hover,
		&:focus,
		&:active {
			opacity: .8;
		}
	}

	.btn--secondary {
		background-color: $color-bg;
	}

	.btn--primary,
	.btn--secondary {
		box-shadow: 0.375em 0.375em 0 0 $color-btn-shadow;
		position: relative;

		&:hover,
		&:focus,
		&:active {
			//???
		}
	}
}