@each $style in map-keys($theme-styles) {
	$style-suffix: "#{$style}";
	$colors: map-deep-get($theme-styles, $style, "colors");
	@each $color, $value in $colors {
		$color-suffix: "#{$color}";
	
		.style-#{$style-suffix} {
			&.palette-#{$color-suffix} {

				.btn--primary {
					background-color: $value;
					border-color: $value;
				}

				.bg-primary {
					.btn--primary {
						background-color: $color-sect-prim-btn-bg;
						border-color: $color-sect-prim-btn-border;
					}
				}
				

				.bg-primary {
					background-color: $value;
				}
			}
		}
	}
}