/**
 * Site Footer
 */
.site-footer__nav,
.site-footer__info {
	border-top: 1px solid $color-border;
}

.site-footer__menu {
	max-width: 270px;
}

.site-footer__copyright {
	font-size: 0.875em;
}

.site-footer__social {
	.btn {
		margin: 0.625rem 0.3125rem 0;
	}
}

.site-footer__copyright,
.site-footer__social {
	text-align: center;
}

@include media-breakpoint-up(sm) {
	.site-footer__copyright,
	.site-footer__social {
		&:not(:only-child) {
			text-align: left;
		}
	}

	.site-footer__social {
		&:not(:only-child) {
			.btn {
				margin: 0 0 0 0.3125rem; 
			}
		}
	}
}

.style-bold {
	.site-footer__nav,
	.site-footer__info {
		border-top-width: 2px;
		border-top-color: $color-border-dark;
	}
}

