/**
 * Sections
 */
.section {
	&.has-border {
		border-bottom: 1px solid $color-border;

		&:last-child {
			border-bottom: 0;
		}
	}

	.container {
		position: relative;
	}
}

.hero__media,
.item__media {
	img {
		display: block;
	}
}

.hero__media,
.item__media:not(.card__media--fill) {
	&.has-border {
		img,
		iframe {
			border: 1px solid $color-border;
		}
	}
}

.card__media--fill {
	&.has-border {
		&.card__media--top,
		&.card__media--left,
		&.card__media--right {
			border-bottom: 1px solid $color-border;
		}

		&.card__media--bottom {
			border-top: 1px solid $color-border;
		}

		@include media-breakpoint-up(md) {
			&.card__media--left {
				border-bottom: 0;
				border-right: 1px solid $color-border;
			}
	
			&.card__media--right {
				border-bottom: 0;
				border-left: 1px solid $color-border;
			}
		}
	}
}

.cta__actions {
	@include media-breakpoint-up(md) {
		&.justify-md-center {
			.btn {
				margin-left: 0.5em;
				margin-right: 0.5em;
			}
		}
	}
}

.section__subtitle {
	font-size: 0.88889em;
	margin-bottom: 0.25em;
}

// Hero section ??? spacing if no subtitle, etc.
.hero__title {
	margin-bottom: 0.25em;

	&:last-child {
		margin-bottom: 0;
	}
}

.hero__subtitle {
	font-size: 1.22222em;

	&:last-child {
		margin-bottom: 0;
	}
}

.hero__title + .hero__copy {
	margin-top: 1em;
}

.hero__actions {
	&:not(:first-child) {
		margin-top: 2em;
	}
}

@include media-breakpoint-up(lg) {
	.hero__body {
		font-size: 1.11111rem;
	}
}

// Features section
.feature__subtitle {
	font-size: 1.33333em;
	line-height: 1.25;
}

.feature__actions {
	margin-top: 1.66667em;
}


// Grid section
.item__subtitle {

}

.item__actions {
	margin-top: 1.66667em
}

// Blog section
.item__meta,
.item__byline {
	font-size: 0.77778em;

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.item__byline {
	margin-top: 1.66667em;
}

.blog-feed {
	.item__title {
		margin-bottom: 0.83333em;
	}
}

.item__cat + .item__date {
	&:before {
		content: "\00b7\00a0";
		font-weight: 700;
		margin: 0 3px;
	}
}

// CTA section
@include media-breakpoint-up(lg) {
	.cta__copy,
	.cta__actions {
		font-size: 1.11111em;
	}
}























.style-bold {
	.section {
		&.has-border {
			border-bottom-color: $color-border-dark;
			border-bottom-width: 2px;
		}
	}

	.hero__media,
	.item__media {
		&.has-border {
			img {
				border-color: $color-border-dark;
				border-width: 2px;
			}
		}
	}

	.hero__media,
	.item__media:not(.card__media--fill) {
		&.has-border {
			img,
			iframe {
				border-color: $color-border-dark;
				border-width: 2px;
			}
		}
	}

	.card__media--fill {
		&.has-border {
			&.card__media--top,
			&.card__media--left,
			&.card__media--right {
				border-bottom-color: $color-border-dark;
				border-bottom-width: 2px;
			}

			&.card__media--bottom {
				border-top-color: $color-border-dark;
				border-top-width: 2px;
			}

			@include media-breakpoint-up(md) {
				&.card__media--left {
					border-right-color: $color-border-dark;
					border-right-width: 2px;
				}
		
				&.card__media--right {
					border-left-color: $color-border-dark;
					border-left-width: 2px;
				}
			}
		}
	}
}

