/**
 * Sections
 */
.section {
	&.has-border {
		border-bottom: 1px solid $color-sect-border;

		&:last-child {
			border-bottom: 0;
		}
	}

	.container {
		position: relative;
	}

	&.bg-none {
		background: none;
	}
}

.hero__media,
.item__media {
	img {
		display: block;
	}
}

.hero__media,
.item__media:not(.card__media--fill) {
	&.has-border {
		img,
		iframe {
			border: 1px solid $color-media-border;
		}
	}
}

.card__media--fill {
	&.has-border {
		&.card__media--top,
		&.card__media--left,
		&.card__media--right {
			border-bottom: 1px solid $color-media-border;
		}

		&.card__media--bottom {
			border-top: 1px solid $color-media-border;
		}

		@include media-breakpoint-up(md) {
			&.card__media--left {
				border-bottom: 0;
				border-right: 1px solid $color-media-border;
			}
	
			&.card__media--right {
				border-bottom: 0;
				border-left: 1px solid $color-media-border;
			}
		}
	}
}

.hero__title,
.cta__title {
	span {
		border-bottom: 2px solid currentColor;
		//text-decoration: underline;
	}
}

.section__subtitle {
	font-size: 0.88889em;
	margin-bottom: 0.25em;
}

// Hero section
.hero__title {
	margin-bottom: 0.25em;
}

.hero__subtitle {
	font-size: 1.22222em;
}

.hero__copy {
	&:not(:first-child) {
		margin-top: 1.11111em;
	}
}

.hero__actions {
	&:not(:first-child) {
		margin-top: 2em;
	}
}

@include media-breakpoint-up(lg) {
	.hero__body {
		font-size: 1.11111rem;
	}
}

// Features section
.feature__subtitle {
	font-size: 1.33333em;
	line-height: 1.25;
}

.feature__actions {
	margin-top: 1.66667em;
}

// Grid section
.item__subtitle {
	font-size: 0.88889em;
}

.item__actions {
	margin-top: 1.66667em;
}

// Blog section
.item__meta,
.item__byline {
	color: $color-meta;
	font-size: 0.77778em;

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.item__byline {
	margin-top: 1.66667em;
}

.blog-feed {
	.item__title {
		margin-bottom: 0.83333em;
	}
}

.item__cat + .item__date {
	&:before {
		content: "\00b7\00a0";
		font-weight: 700;
		margin: 0 3px;
	}
}

// CTA section
@include media-breakpoint-up(lg) {
	.cta__copy,
	.cta__actions {
		font-size: 1.11111em;
	}
}

@include media-breakpoint-up(md) {
	.cta__actions {
		&.justify-md-center {
			.btn {
				margin-left: 0.5em;
				margin-right: 0.5em;
			}
		}
	}
}

// Style adjustments
.style-classic {
	.section__title {
		&:after {
			background-color: $color-classic-sect-title-line;
			content: "";
			display: block;
			height: 2px;
			margin: 1.66667rem 0 0;
			width: 5rem;
		}
	}

	.text-center {
		.section__title {
			&:after {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.text-right {
		.section__title {
			&:after {
				margin-left: auto;
			}
		}
	}
}

.style-bold {
	.section {
		&.has-border {
			border-bottom-color: $color-bold-sect-border;
			border-bottom-width: 2px;
		}
	}

	.hero__media,
	.item__media {
		&.has-border {
			img {
				border-color: $color-bold-media-border;
				border-width: 2px;
			}
		}
	}

	.hero__media,
	.item__media:not(.card__media--fill) {
		&.has-border {
			img,
			iframe {
				border-color: $color-bold-media-border;
				border-width: 2px;
			}
		}
	}

	.card__media--fill {
		&.has-border {
			transition: .3s ease;

			&.card__media--top,
			&.card__media--left,
			&.card__media--right {
				border-bottom-color: $color-bold-media-border;
				border-bottom-width: 2px;
			}

			&.card__media--bottom {
				border-top-color: $color-bold-media-border;
				border-top-width: 2px;
			}

			@include media-breakpoint-up(md) {
				&.card__media--left {
					border-right-color: $color-bold-media-border;
					border-right-width: 2px;
				}
		
				&.card__media--right {
					border-left-color: $color-bold-media-border;
					border-left-width: 2px;
				}
			}
		}
	}

	.card {
		&:hover {
			.card__media--fill {
				&.has-border {
					border-color: $color-bold-card-border-hover;
				}
			}
		}
	}
}

// Section backgrounds
.bg-primary {
	background: $color-sect-prim-bg;
	color: $color-sect-prim-text;

	a {
		color: $color-sect-prim-link;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $color-sect-prim-heading;
	}

	blockquote {
		color: inherit;
	}

	.card {
		a {
			color: inherit;
		}
	
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		blockquote {
			color: inherit;
		}

		.btn--primary {
			background-color: $color-btn-bg;
			border-color: $color-btn-border;
			color: $color-btn-text;
		}
	}
}

#site-wrap {
	.bg-primary {
		.btn--primary {
			background-color: $color-sect-prim-btn-bg;
			border-color: $color-sect-prim-btn-border;
			color: $color-sect-prim-btn-text;
		}
	}
}

.bg-secondary {
	background: $color-sect-second-bg;
}

.bg-primary,
.bg-secondary {
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="number"],
	input[type="search"],
	input[type="url"],
	select,
	textarea {
		background-color: $color-sect-prim-second-input-bg;
	}

	.card {
		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="tel"],
		input[type="number"],
		input[type="search"],
		input[type="url"],
		select,
		textarea {
			background-color: $color-input-bg;
		}
	}
}

.style-bold {
	.bg-primary,
	.bg-secondary {
		.card {
			input[type="text"],
			input[type="password"],
			input[type="email"],
			input[type="tel"],
			input[type="number"],
			input[type="search"],
			input[type="url"],
			select,
			textarea {
				background: $color-bold-input-bg;
			}
		}
	}
}
